<div class="container">
    <div class="topService text-center">
      <div class="topServiceContent">
        <div class="row">
          <div class="col-md-12 col-sm-12"></div>
        </div>
      </div>
    </div>
    <div class="row content">
      <div class="content-details col-md-12 col-sm-12">
        <div class="technicalSupport">
          <div class="row">
      
  
  
            <div class="col-md-12 col-sm-12">
                <h5>
         
                  {{ "q1" | translate }}
                </h5>
                <p>{{ "a1" | translate }}</p>
              </div>
  

              <div class="col-md-12 col-sm-12">
                <h5>
         
                  {{ "q2" | translate }}
                </h5>
                <p>{{ "a2" | translate }}</p>
              </div>
  

              <div class="col-md-12 col-sm-12">
                <h5>
         
                  {{ "q3" | translate }}
                </h5>
                <p>{{ "a3" | translate }}</p>
              </div>
  

              <div class="col-md-12 col-sm-12">
                <h5>
         
                  {{ "q4" | translate }}
                </h5>
                <p>{{ "a4" | translate }}</p>
              </div>
  

              <div class="col-md-12 col-sm-12">
                <h5>
         
                  {{ "q5" | translate }}
                </h5>
                <p>{{ "a5" | translate }}</p>
              </div>
  
          
              <div class="col-md-12 col-sm-12">
                <h5>
         
                  {{ "q6" | translate }}
                </h5>
                <p>{{ "a6" | translate }}</p>
              </div>
  

              <div class="col-md-12 col-sm-12">
                <h5>
         
                  {{ "q7" | translate }}
                </h5>
                <p>{{ "a7" | translate }}</p>
              </div>
  

              <div class="col-md-12 col-sm-12">
                <h5>
         
                  {{ "q8" | translate }}
                </h5>
                <p>{{ "a8" | translate }}</p>
              </div>
  

              <div class="col-md-12 col-sm-12">
                <h5>
         
                  {{ "q9" | translate }}
                </h5>
                <p>{{ "a9" | translate }}</p>
              </div>
  

              <div class="col-md-12 col-sm-12">
                <h5>
         
                  {{ "q10" | translate }}
                </h5>
                <p>{{ "a10" | translate }}</p>
              </div>
  
          
              <div class="col-md-12 col-sm-12">
                <h5>
         
                  {{ "q11" | translate }}
                </h5>
                <p>{{ "a11" | translate }}</p>
              </div>

              <div class="col-md-12 col-sm-12">
                <h5>
         
                  {{ "q12" | translate }}
                </h5>
                <p>{{ "a12" | translate }}</p>
              </div>
  
              <div class="col-md-12 col-sm-12">
                <h5>
         
                  {{ "q13" | translate }}
                </h5>
                <p>{{ "a13" | translate }}</p>
              </div>
  
              <div class="col-md-12 col-sm-12">
                <h5>
         
                  {{ "q14" | translate }}
                </h5>
                <p>{{ "a14" | translate }}</p>
              </div>
  

              <div class="col-md-12 col-sm-12">
                <h5>
         
                  {{ "q15" | translate }}
                </h5>
                <p>{{ "a15" | translate }}</p>
              </div>
  
              <div class="col-md-12 col-sm-12">
                <h5>
         
                  {{ "q16" | translate }}
                </h5>
                <p>{{ "a16" | translate }}</p>
              </div>
  
          
          
              <div class="col-md-12 col-sm-12">
                <h5>
         
                  {{ "q17" | translate }}
                </h5>
                <p>{{ "a17" | translate }}</p>
              </div>
  

              <div class="col-md-12 col-sm-12">
                <h5>
         
                  {{ "q18" | translate }}
                </h5>
                <p>{{ "a18" | translate }}</p>
              </div>

              <div class="col-md-12 col-sm-12">
                <h5>
         
                  {{ "q19" | translate }}
                </h5>
                <p>{{ "a19" | translate }}</p>
              </div>
  
          
  
              <div class="col-md-12 col-sm-12">
                <h5>
         
                  {{ "q20" | translate }}
                </h5>
                <p>{{ "a20" | translate }}</p>
              </div>
  
              <div class="col-md-12 col-sm-12">
                <h5>
         
                  {{ "q21" | translate }}
                </h5>
                <p>{{ "a21" | translate }}</p>
              </div>
  
              <div class="col-md-12 col-sm-12">
                <h5>
         
                  {{ "q22" | translate }}
                </h5>
                <p>{{ "a22" | translate }}</p>
              </div>
              <div class="col-md-12 col-sm-12">
                <h5>
         
                  {{ "q23" | translate }}
                </h5>
                <p>{{ "a23" | translate }}</p>
              </div>
  
              <div class="col-md-12 col-sm-12">
                <h5>
         
                  {{ "q24" | translate }}
                </h5>
                <p>{{ "a24" | translate }}</p>
              </div>
  
              <div class="col-md-12 col-sm-12">
                <h5>
         
                  {{ "q25" | translate }}
                </h5>
                <p>{{ "a25" | translate }}</p>
              </div>
  
              <div class="col-md-12 col-sm-12">
                <h5>
         
                  {{ "q26" | translate }}
                </h5>
                <p>{{ "a26" | translate }}</p>
              </div>
              <div class="col-md-12 col-sm-12">
                <h5>
         
                  {{ "q27" | translate }}
                </h5>
                <p>{{ "a27" | translate }}</p>
              </div>
  
              <div class="col-md-12 col-sm-12">
                <h5>
         
                  {{ "q28" | translate }}
                </h5>
                <p>{{ "a28" | translate }}</p>
              </div>
  
          
          
          
  
          
          </div>
        </div>
   
      </div>
    </div>
  </div>
  