<section class="container-fluid">
    <!-- style="min-height: 670px" -->
    <div class="row x"  >
      <div class="col-md-6 col-sm-12 col-12 align-self-center" style="direction: ltr;">
        <div class="leftSide">
          <a (click)="back()">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-caret-left"
              viewBox="0 0 16 16"
            >
              <path
                d="M10 12.796V3.204L4.519 8 10 12.796zm-.659.753-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753z"
              />
            </svg>
            {{"backHome" | translate}}
          </a>
          <div class="text-center" style="position: absolute; left: 45%">
            <h3 class="text-center">{{"forgetpassword" | translate}}</h3>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12"></div>
          </div>
          <form [formGroup]="reset" (ngSubmit)="onSubmit()" style="direction: ltr;">
            <div class="form-group offset-md-2 col-md-8 col-sm-12 col-12">
              <label for="exampleInputEmail1">{{"phone" | translate}} </label>
              <input
                type="text"
                class="form-control form-control-lg"
                [ngClass]="thisLang==='ltr' ? 'ltr' : 'rtl'"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="{{ 'phone' | translate }}"
                [formControlName]="'email'"
              />
            </div>
            <!-- [routerLink]="['/verify-code']" -->
            <button type="sumbit" class="btn btn-primary offset-md-2 col-md-8 col-sm-12 d-block">{{"sendcode" | translate}}</button>
          </form>
        </div>
      </div>
  
      <div class="col-md-6 col-sm-12 right-col">
        <div class="rightSide">
          <div class="fullImage"></div>
        </div>
      </div>
    </div>
  </section>
  