<div class="container">
    <div class="topService text-center">
      <div class="topServiceContent">
        <div class="row">
          <div class="col-md-12 col-sm-12"></div>
        </div>
      </div>
    </div>
    <div class="row content">
      <div class="content-details col-md-12 col-sm-12">
        <div class="technicalSupport">
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <h5>
       
                {{ "termsintro" | translate }}
              </h5>
              <p>{{ "termintrotitle" | translate }}</p>
            </div>
  
  
            <div class="col-md-12 col-sm-12">
              <h5>
       
                {{ "terms1" | translate }}
              </h5>
              <p>{{ "terms1desc" | translate }}</p>
            </div>


  
            <div class="col-md-12 col-sm-12">
              <h5>
       
                {{ "terms2" | translate }}
              </h5>
              <p>{{ "terms2desc" | translate }}</p>
            </div>
  
            <div class="col-md-12 col-sm-12">
              <h5>
       
                {{ "terms3" | translate }}
              </h5>
              <p>{{ "terms3desc" | translate }}</p>
            </div>
  
            <div class="col-md-12 col-sm-12">
              <h5>
       
                {{ "terms4" | translate }}
              </h5>
              <p>{{ "terms4desc" | translate }}</p>
            </div>
  
            <div class="col-md-12 col-sm-12">
              <h5>
       
                {{ "terms5" | translate }}
              </h5>
              <p>{{ "terms5desc" | translate }}</p>
            </div>
  
            <div class="col-md-12 col-sm-12">
              <h5>
       
                {{ "terms6" | translate }}
              </h5>
              <p>{{ "terms6desc" | translate }}</p>
            </div>
  
            <div class="col-md-12 col-sm-12">
              <h5>
       
                {{ "terms7" | translate }}
              </h5>
              <p>{{ "terms7desc" | translate }}</p>
            </div>
  
            <div class="col-md-12 col-sm-12">
              <h5>
       
                {{ "terms8" | translate }}
              </h5>
              <p>{{ "terms8desc" | translate }}</p>
            </div>
  
            <div class="col-md-12 col-sm-12">
              <h5>
       
                {{ "terms9" | translate }}
              </h5>
              <p>{{ "terms9desc" | translate }}</p>
            </div>
  
            <div class="col-md-12 col-sm-12">
              <h5>
       
                {{ "terms10" | translate }}
              </h5>
              <p>{{ "terms10desc" | translate }}</p>
            </div>
  
            <div class="col-md-12 col-sm-12">
              <h5>
       
                {{ "terms11" | translate }}
              </h5>
              <p>{{ "terms11desc" | translate }}</p>
            </div>
  
            <div class="col-md-12 col-sm-12">
              <h5>
       
                {{ "terms12" | translate }}
              </h5>
              <p>{{ "terms12desc" | translate }}</p>
            </div>
  
            <div class="col-md-12 col-sm-12">
              <h5>
       
                {{ "terms13" | translate }}
              </h5>
              <p>{{ "terms13desc" | translate }}</p>
            </div>
  
            <div class="col-md-12 col-sm-12">
              <h5>
       
                {{ "terms14" | translate }}
              </h5>
              <p>{{ "terms14desc" | translate }}</p>
            </div>
  
            <div class="col-md-12 col-sm-12">
              <h5>
       
                {{ "terms15" | translate }}
              </h5>
              <p>{{ "terms15desc" | translate }}</p>
            </div>
  
            <div class="col-md-12 col-sm-12">
              <h5>
       
                {{ "terms16" | translate }}
              </h5>
              <p>{{ "terms16desc" | translate }}</p>
            </div>
  
            <div class="col-md-12 col-sm-12">
              <h5>
       
                {{ "terms17" | translate }}
              </h5>
              <p>{{ "terms17desc" | translate }}</p>
            </div>

          </div>
        </div>
   
      </div>
    </div>
  </div>
  