  
<div class="container"> 
    <section> 
        <div class="topcommercial text-center">
            <div class="topcommercialContent">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <h1>{{"commercialshippment" | translate}}</h1>
                        <!-- <p>Start now import with us everything you want from needle to rocket </p> -->
                    </div>
                </div>
            </div>
        </div>
   </section>
   <section class="commercial" >  
        <div class="row my-3 "> 
            <div class="col-md-12 col-sm-12" > 
               <p> 
            {{"commertialText" | translate}}
               </p>  
            </div>
        </div>

    </section> 
</div>