main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main .wrapping {
    flex-grow: 1;
}

.forIcon{
    position: fixed;
    bottom: 30px;
    left: 30px;
    background: green;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    opacity: .3;

}
.forIcon:hover{
    opacity: 1;
}

span i{
    font-size: 36px;
    color: white;
}