.homecontent .balance,
.homecontent .order,
.homecontent .shipment,
.homecontent .parcel {
    min-height: 125px;
    padding: 10px;
    border-radius: 3%;
    margin: 10px 0px;
}

.homecontent .balance {
    background-color: #E2ECFF;
   
}

.homecontent .order {
    background-color: #CCF5F8;
     
}

.homecontent .shipment {
    background-color: #FFDEDE;
   
}

.homecontent .parcel {
    background-color: #D2FFE8;
   
}
.homecontent .balance .balancelist ,
.homecontent .order .orderlist ,
.homecontent .shipment .shipmentlist ,
.homecontent .parcel .parcellist  {
   
    padding: 0px;
  
}
.homecontent .balance .balancelist li,
.homecontent .order .orderlist li,
.homecontent .shipment .shipmentlist li,
.homecontent .parcel .parcellist li {
    line-height: 35px;
    padding: 2px;
    margin: 1px;
    list-style-type: none;
}
.homecontent .order .orderlist li{
    color : #00CFDD;
}
.homecontent .shipment .shipmentlist li{
color :#FF5B5C;
}
.homecontent .parcel .parcellist li{
color:#39DA8A;
}

.homecontent .balance .balancelist li:nth-child(2),
.homecontent .order .orderlist li:nth-child(2),
.homecontent .shipment .shipmentlist li:nth-child(2),
.homecontent .parcel .parcellist li:nth-child(2) {
    font-size: 30px;
}

.startcontent {
    background-color: #32B457;
    min-height: 75px;
    color: white;
    
}

.startcontent {
    border-radius: 10px;
}

.startcontent .start {
    padding:10px;
    border-radius: 10px;
}

.startcontent .start p {
    color: white;
    /* padding: 5px; */
    text-indent: 10px;
    font-size: 24px;
}

.startcontent .start button {
    color: #32B457;
    background-color: white;
    border: 1px solid #32B457;
    display: block;
    height: fit-content;
    width: fit-content;
    margin: auto;

}

.showcontent {
    min-height: 60px;
}

.showcontent .head {
    padding: 5px;
    margin-left: 5px;
}

.showcontent .head button {
    background-color: #32B457;
    color: white;
    border: 1px solid #32B457;
}

.showtable {
    background-color: white;
}

.right,
.left {
    padding: 10px;
    margin: 5px;
    background-color: #f2f7ff;
}

/*
::ng-deep .owl-prev,
::ng-deep .owl-next {
    position: absolute;
    top:43%;
    transform: translateY(-50%);   
}*/

/* ::ng-deep .owl-prev {
    left: -2em;
 
}
 
::ng-deep .owl-next {
    right: -2em;
 
}   */
.start button{
    float: right;
   }
@media (max-width: 567px) { 
    .startcontent .start p {
     padding: 15px 5px;
       }
    .start button{
     float: none;
    }
     }
     
     ::ng-deep .owl-carousel .owl-item img {
         height: 40vh;
     }

     .custom {
        flex-direction: column !important;
        display: none;
    }