<section class="container-fluid" style="min-height: 670px">
  <!-- style="min-height: 670px" -->

  <div class="row x">
    <div class="col-md-6 col-sm-12 col-12 align-self-center">
      <div class="leftSide">
        <div class="col-md-12">
          <a (click)="back()">
            <!-- <i
            [class]="
              thisLang == 'rtl'
                ? 
               'fas fa-chevron-right' : 'fas fa-chevron-left'
            "
            style="
              background: #f1f1f1;
              padding: 9px;
              border-radius: 50%;
              margin-right: 10px;
            "
          ></i> -->
            {{ "backHome" | translate }}
          </a>
        </div>

        <div class="mb-3 row">
          <div class="text-center" style="position: absolute; left: 45%">
            <h3 class="text-center">{{"forgetpassword" | translate}}</h3>
            <hr style="width: 50%;margin-top: 0px;height: 2px; background: #32b457;
            height: 3px;">
          </div>

          <div class="col-md-12">
            <form
              style="direction: ltr"
              [formGroup]="landing"
              (ngSubmit)="submit()"
            >
              <div class="form-group offset-md-2 col-md-8 col-sm-12 col-12">
                <!-- <input
                  type="text"
                  class="form-control form-control-lg my-4"
                  placeholder="5xxxxxxxx"
                  [formControlName]="'phone'"
                  #number
                /> -->

                <label for="pacelFrom" class="w-100">
                  <h6 [class]="
                  thisLang == 'ar'
                  ? 'text-right'
                  : 'text-left'
                ">{{ "phone" | translate }} :</h6>
                  <div class="d-flex position-relative">
                    <input
                      type="text"
                      name=""
                      id=""
                      class="form-control"
                      placeholder="{{ 'phone' | translate }}"
                      [formControlName]="'phone'"
                      #number
                      style="padding-left: 11%"
                      [class]="
                        thisLang == 'ar'
                        ? 'text-right'
                        : 'text-left'
                      "
                      
                    />
                    <div class="text-success position-absolute cm-position">
                      <h6 class="text-muted position-absolute number-position">
                        +966
                      </h6>
                    </div>
                  </div>
                </label>
                
                <button
                  type="submit"
                  class="btn btn-default col-md-12 col-sm-12 d-block text-white"
                  [disabled]="!number.value.startsWith('5') || number.value.length <= 8"
                >
                  {{"send" | translate}}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 right-col">
      <div class="rightSide">
        <div class="fullImage"></div>
      </div>
    </div>
  </div>
</section>
