.container-fluid {
    background-color: #fbfbfb;
 
}
 .x{
    min-height: 80vh
 }
.container-fluid .leftSide {
    margin-top: 0px;
}

.container-fluid .leftSide a {
    text-decoration: none;
    color: black;
}

.container-fluid .leftSide h3 {
    margin-top:10px;
    /* border-bottom: 2px solid #32B457; */
    text-decoration: underline;
    text-decoration-color:#32B457;
    text-decoration-skip-ink:none;
    position: relative;
    top: 50%;
    bottom: 35%;
}

.container-fluid .leftSide form {
    margin-top: 80px;
    position: relative;
    top: 10%;
    /* left: 20%; */
}

.container-fluid .leftSide form input {
    background-color: #f9f9f9;
}

.container-fluid .leftSide form label {
    color: grey;
}

.container-fluid .leftSide form p a {
    color: #32B457;
}

.container-fluid .leftSide form label::placeholder {
    color: grey;
}

.container-fluid .leftSide button {
    background-color: #32B457;
    padding: 10px 0px;
    /* margin: 20px 0px; */
    border: 1px solid #32B457;
}

.container-fluid .leftSide label span {
    color: #32B457;
    float: right;
}

.container-fluid .leftSide .form-check-label {
    width: 63%;
}

.check {
    padding-left: 2.25rem
}

.container-fluid .rightSide {
    height: 100%;
    margin-right: -15px;
}

.container-fluid .rightSide .fullImage {
     background-image: url('../../../../assets/images/login.jpg');  
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    resize: both;
    position: relative;
    right: 0px;
    bottom: 0px;
}

@media (max-width: 767px) {
    .container-fluid .leftSide {
        margin-top: 10px;
    }
    .container-fluid .leftSide form {
        left: 0px;
    }
    .container-fluid .leftSide h3 {
        margin-top: 10px;
    }
    .right-col{
        display: none;
    }

   ::ng-deep .form-group{
        width: 100% !important;
    }

    .form-check-label{
        min-width: 100% !important;
    }
    /* .container-fluid .leftSide form{ 
         margin-top: 50px;
          } */

          .container-fluid{
              margin-top: 100px;
          }
}

.showPassword{
    padding: 11px;
    border: 1px solid #d1cece;
    border-left: none;
    height: 48px;
  }
  #exampleInputPassword1{
    border-bottom-right-radius: 0px;
    border-top-right-radius:0px;
  }

  .rtl{
      direction: rtl;
  }

  
@media (max-width: 567px) { 
    .x{
        min-height: 500px
     }
}

input{
    text-align: center;
}

.cm-position{
    left: 10px;
    top:10px;
}