<div class="orders col-md-12">
  <div class="row justify-content-around">
    <div class="leftCard col-md-5 my-5 py-5 ml-lg-5">
      <h3 class="text-center">{{ "shippingRates" | translate }}</h3>
      <p class="text-center">
        {{ "shippingTitle" | translate }}
      </p>
      <form class="shipping" [formGroup]="form" (ngSubmit)="onSubmit()">
        <h6>{{ "shippingAddress" | translate }}</h6>
        <div class="row justify-content-around shipForm">
          <div class="form-group col-md-6">
            <label>{{ "from" | translate }}: </label>
            <!-- formControlName="china_harbor_id" -->
            <select
              class="form-control"
              (change)="onChangeChina($event)"
              [disabled]="closeChoises"
            >
              <option [selected]="true">
                {{ "parcelChooseTo" | translate }}
              </option>

              <option value="1">{{ "china" | translate }}</option>
            </select>
            <span class="text-danger" *ngIf="chinaHarborError">
              * {{ "req" | translate }}</span
            >
          </div>
          <div class="form-group col-md-6">
            <label>{{ "to" | translate }} :</label>
            <select
              class="form-control"
              formControlName="saudi_harbor_id"
              (change)="onChangeSaudi($event)"
            >
              <option [selected]="true">
                {{ "parcelChoose" | translate }}
              </option>
              <!-- <option *ngFor="let harbor of saudiharbors" [value]="harbor.id" >
                <span  *ngIf="thisLang==='rtl'">
                  {{ harbor.name_ar }}
                </span>
                <span  *ngIf="thisLang==='ltr'">
                  {{ harbor.name_en }}
                </span>
                
              </option> -->
              <option value="2">{{ "ksa" | translate }}</option>
            </select>
            <span class="text-danger" *ngIf="saudiHarborError">
              * {{ "req" | translate }}</span
            >
          </div>
        </div>

        <h6>{{ "shipmentinfo" | translate }}</h6>
        <!-- formControlName="type" -->
        <div class="row justify-content-around shipForm">
          <div class="form-group col-md-4">
            <label>{{ "typeShipping" | translate }} : </label>
            <select
              class="form-control"
              (change)="onTypeOfShipping($event)"
              [disabled]="closeChoises"
            >
              <option [selected]="true">
                {{ "chooseShippingType" | translate }}
              </option>
              <option value="1">{{ "aerial" | translate }}</option>
              <option value="0">{{ "nautical" | translate }}</option>
            </select>
            <span class="text-danger" *ngIf="shippingError">
              * {{ "req" | translate }}</span
            >
          </div>
          <div class="form-group col-md-4">
            <label>{{ "typeshipment" | translate }} : </label>

            <select
              class="form-control"
              (change)="onTypeOfShipment($event)"
              [disabled]="closeChoises"
              (change)="getTypeIndex($event)"

            >
              <option [selected]="true">{{ "chooseType" | translate }}</option>
              <option
                *ngFor="let type of allShipmentType; let i = index"
                [value]="type.id"
                
              >
                <span *ngIf="this.thisLang == 'ltr'"> {{ type.name_en }} </span>
                <span *ngIf="this.thisLang == 'rtl'"> {{ type.name_ar }} </span>
              </option>
              <!-- <option value="1" >{{"battery" | translate}}</option> -->
            </select>
            <span class="text-danger" *ngIf="shipmentTypeError">
              * {{ "req" | translate }}</span
            >
          </div>
          <div class="form-group col-md-4">
            <label>{{ "weight" | translate }}: </label>
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                #shippingWeight
                (blur)="getWeight()"
                placeholder="{{ 'weight' | translate }}"
                formControlName="weight"
              />
              <div class="input-group-append">
                <span class="input-group-text" *ngIf="showCBM">{{
                  "cdm" | translate
                }}</span>
                <span class="input-group-text" *ngIf="showKg">{{
                  "kg" | translate
                }}</span>
              </div>
            </div>

            <span class="text-danger" *ngIf="weightError">
              * {{ "req" | translate }}</span
            >
          </div>
        </div>

        <h6>{{ "dimention" | translate }}</h6>
        <div class="row justify-content-around shipForm">
          <div class="form-group col-md-4">
            <label>{{ "length" | translate }}: </label>
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                (blur)="getLenght()"
                #shippingLength
                placeholder="{{ 'length' | translate }}"
                [disabled]="closeChoises"
              />
              <div class="input-group-append">
                <span class="input-group-text">{{ "cm" | translate }}</span>
              </div>
            </div>
          </div>
          <div class="form-group col-md-4">
            <label>{{ "width" | translate }} : </label>
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                (blur)="getWidth()"
                #shippingWidth
                placeholder="{{ 'width' | translate }}"
                [disabled]="closeChoises"
              />
              <div class="input-group-append">
                <span class="input-group-text">{{ "cm" | translate }}</span>
              </div>
            </div>
          </div>
          <div class="form-group col-md-4">
            <label>{{ "height" | translate }} : </label>
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                (blur)="getHeight()"
                #shippingHeight
                placeholder="{{ 'height' | translate }}"
                [disabled]="closeChoises"
              />
              <div class="input-group-append">
                <span class="input-group-text">{{ "cm" | translate }}</span>
              </div>
            </div>
          </div>
        </div>
        <br />
        <div class="row justify-content-center">
          <button
            type="submit"
            class="btn col-md-8 btnCalculating"
            id="btnCalculating"
          >
            {{ "calculateBtn" | translate }}
          </button>
        </div>
      </form>
    </div>

    <div class="rightCard img1 col-md-5" *ngIf="successImage">
      <div class="imgg">
        <div
          [ngClass]="thisLang === 'ltr' ? 'fullImage' : 'fullImage-rtl'"
        ></div>
        <!-- <div  class="fullImage"></div> -->
      </div>
    </div>

    <div class="col-md-6 py-5" *ngIf="successStatus">
      <div class="myCard p-3 bg-light">
        <div class="row">
          <div class="col-md-6">
            <div class="text">
              <ul class="company-rules">
                <li>
                  <div class="text_top d-flex justify-content-start">
                    <span> {{ "chargingtype" | translate }} </span> :
                    <span *ngIf="typeofShipping == 1">{{
                      "aerial" | translate
                    }}</span>
                    <span *ngIf="typeofShipping == 0">{{
                      "nautical" | translate
                    }}</span>
                  </div>
                </li>
                <li>{{ "actialweight" | translate }}</li>
                <li>{{ "customs" | translate }}</li>

                <li *ngIf="typeofShipping == 1">
                  {{ "shippingcardtimeaerial" | translate }}
                </li>
                <li *ngIf="typeofShipping == 0">
                  {{ "shippingcardtimenautical" | translate }}
                </li>
                <li>{{ "extracharge" | translate }}</li>
                <li>
                  {{ "return" | translate }}
                </li>

                <li>
                  {{ "madeinchina" | translate }}
                </li>
              </ul>
            </div>
          </div>
          <div
            class="col-md-6"
            [ngClass]="thisLang === 'ltr' ? 'forBorder' : 'forBorder-rtl'"
          >
            <div class="forImg d-flex justify-content-between">
              <span>
                <img
                  [src]="logo"
                  class="img-fluid"
                  height="auto"
                  width="100%"
                  alt="right"
                  style="border-radius: 50%"
                />
              </span>
              <span> International Parcel </span>
            </div>
            <div class="forText d-flex flex-column mt-3">
              <span>{{ "shippingcharges" | translate }}</span>
              <span class="my-3" style="color: #32b457">
                <h3>{{ costs }}$</h3>
              </span>
            </div>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-md-12 d-flex justify-content-center">
            <button
              type="submit"
              class="btn col-md-8 btnCalculating"
              id="btnCalculating"
              (click)="goadmindashboard()"
            >
              {{ "BookingBtn" | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
