<section class="container-fluid">
  <!-- style="min-height: 670px" -->
  <div class="row x">
    <div
      class="col-md-6 col-sm-12 col-12 align-self-center"
      style="direction: ltr"
    >
      <div class="leftSide">
        <div class="col-md-12">
          <a (click)="back()">
            <i [class]=" thisLang == 'ltr' ? 'fas fa-chevron-left':'fas fa-chevron-right'" style="background: #f1f1f1;padding:15px;border-radius : 50%"></i>
            {{ "backHome" | translate }}
          </a>
        </div>
        <div class="text-center" style="position: absolute; left: 45%">
          <h3 class="text-center">{{ "forgetpassword" | translate }}</h3>
        </div>
        <div class="row">
          <div class="col-md-12 col-sm-12"></div>
        </div>
        <form
          [formGroup]="reset"
          (ngSubmit)="onSubmit()"
          
        >
          <div class="form-group offset-md-2 col-md-8 col-sm-12 col-12">
  
            <input
              type="text"
              class="form-control form-control-lg"
              [ngClass]="thisLang === 'ltr' ? 'ltr' : 'rtl'"
              id="exampleInputEmail1"
              aria-describedby="code"
              placeholder="{{ 'shortcode' | translate }}"
              [formControlName]="'code'"
            />
          </div>
          <div class="form-group d-flex offset-md-2 col-md-8 col-sm-12 col-12">
            <input
              type="password"
              class="form-control form-control-lg"
              [ngClass]="thisLang === 'ltr' ? 'ltr' : 'rtl'"

              required="true"
              minlength="6"
              id="exampleInputPassword1"
              placeholder="{{ 'password' | translate }}"
              [type]="show ? 'text' : 'password'"
              [formControlName]="'password'"
            />
            <span class="showPassword" (click)="this.show = !this.show"
              ><i class="fas fa-eye" *ngIf="!show"></i>
              <i class="fas fa-eye-slash" *ngIf="show"></i>
            </span>
          </div>
          <div class="form-group d-flex offset-md-2 col-md-8 col-sm-12 col-12">
            <input
              type="password"
              class="form-control form-control-lg"
              [ngClass]="thisLang === 'ltr' ? 'ltr' : 'rtl'"

              required="true"
              minlength="6"
              id="exampleInputPassword1"
              placeholder="{{ 'confirmnewpassword' | translate }}"
              [type]="show ? 'text' : 'password'"
              [formControlName]="'confirm_password'"
            />
            <span class="showPassword" (click)="this.show = !this.show"
              ><i class="fas fa-eye" *ngIf="!show"></i>
              <i class="fas fa-eye-slash" *ngIf="show"></i>
            </span>
          </div>
          <!-- [routerLink]="['/verify-code']" -->
          <button
            type="sumbit"
            class="btn btn-primary offset-md-2 col-md-8 col-sm-12 d-block"
          >
            {{ "sendcode" | translate }}
          </button>
        </form>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 right-col">
      <div class="rightSide">
        <div class="fullImage"></div>
      </div>
    </div>
  </div>
</section>
