<section class="container-fluid">
  <!-- style="min-height: 670px" -->
  <div class="row x">
    <div
      class="col-md-6 col-sm-12 col-12 align-self-center"
      style="direction: ltr"
    >
      <div class="leftSide">
        <div class="col-md-12">
          <a (click)="back()">
            <i
            [class]="
              thisLang == 'ar'
                ? 
               'fas fa-chevron-right' : 'fas fa-chevron-left'
            "
            style="
              background: #f1f1f1;
              padding: 9px;
              border-radius: 50%;
              margin-right: 10px;
            "
          ></i>
            {{ "backHome" | translate }}
          </a>
        </div>
        <div class="text-center" style="position: absolute; left: 45%">
          <h3 class="text-center">{{ "forgetpassword" | translate }}</h3>
          <hr style="width: 50%;margin-top: 0px;height: 2px; background: #32b457;
          height: 3px;">
        </div>
        <div class="row">
          <div class="col-md-12 col-sm-12"></div>
        </div>
        <form
          [formGroup]="reset"
          (ngSubmit)="onSubmit()"
          
        >
          <div class="form-group offset-md-2 col-md-8 col-sm-12 col-12">
  
            <input
              type="text"
              class="form-control form-control-lg"
              
              id="exampleInputEmail1"
              aria-describedby="code"
              
              placeholder="{{ 'shortcode' | translate }}"
              [formControlName]="'code'"
              [class]="
                        thisLang == 'ar'
                        ? 'text-right'
                        : 'text-left'
                      "
            />
          </div>


          <div class="form-group offset-md-2 col-md-8 col-sm-12 col-12">
               <div class="d-flex position-relative" >
            <input
            id="exampleInputPassword1"
            [type]="showConfirm ? 'text' : 'password'"
            class="form-control form-control-lg "
            style="direction: ltr"
            required="true"
            minlength="6"
            placeholder="{{ 'password' | translate }}"
            [formControlName]="'password'"
            [class]="
                        thisLang == 'ar'
                        ? 'text-right'
                        : 'text-left'
                      "
          />
            <div class="text-gray position-absolute " [class]="
            thisLang == 'ar'
            ? 'password-position-rtl'
            : 'password-position'
          ">
              <span
              class="text-muted"
              (click)="this.showConfirm = !this.showConfirm"
              ><i class="fas fa-eye" *ngIf="!this.showConfirm"></i>
              <i class="fas fa-eye-slash" *ngIf="this.showConfirm"></i>
            </span>
            </div>
          </div>

          </div>
       


          <div class="form-group offset-md-2 col-md-8 col-sm-12 col-12">
              <div class="d-flex position-relative" >
            <input
            id="exampleInputPassword1"
            [type]="showConfirm ? 'text' : 'password'"
            class="form-control form-control-lg "
            style="direction: ltr"
            required="true"
            minlength="6"
            placeholder="{{ 'confirmnewpassword' | translate }}"
            [formControlName]="'confirm_password'"
            [class]="
                        thisLang == 'ar'
                        ? 'text-right'
                        : 'text-left'
                      "
          />
            <div class="text-gray position-absolute " [class]="
            thisLang == 'ar'
            ? 'password-position-rtl'
            : 'password-position'
          ">
              <span
              class="text-muted"
              (click)="this.showConfirm = !this.showConfirm"
              ><i class="fas fa-eye" *ngIf="!this.showConfirm"></i>
              <i class="fas fa-eye-slash" *ngIf="this.showConfirm"></i>
            </span>
            </div>
          </div>

          </div>
        

          
          <!-- [routerLink]="['/verify-code']" -->
          <button
            type="sumbit"
            class="btn btn-primary offset-md-2 col-md-8 col-sm-12 d-block"
          >
            {{ "sendcode" | translate }}
          </button>
        </form>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 right-col">
      <div class="rightSide">
        <div class="fullImage"></div>
      </div>
    </div>
  </div>
</section>
