<div class="container mt-4">
    <div class="row">
        <div class="col-md-12 p-0">
            <h3>
                Wallet
            </h3>
        </div>
        <div class="col-md-12 p-0">
            <div class="wrapBalance">
                <span class="mb-2">
                Your Balance
                </span>
                <h2>
                    5230<sub>SAR</sub>
                </h2>

            </div>
        </div>
    </div>
    <div class="row p-0 mt-4">
        <h2>Transaction</h2>

    </div>
    <div class="row mb-4 ">

        <div class="col-md-1 text-center">
            <img src="../../../../assets/images/ipe.jpg" alt="" srcset="">
        </div>
        <div class="col-md-11 d-flex align-items-center">
            SAR 1520 was transfered to the international parcel on 25/1/2022
        </div>
    </div>
    <div class="row mb-4 ">

        <div class="col-md-1 text-center">
            <img src="../../../../assets/images/ipe.jpg" alt="" srcset="">
        </div>
        <div class="col-md-11 d-flex align-items-center">
            SAR 1520 was transfered to the international parcel on 25/1/2022
        </div>
    </div>
    <div class="row mb-4 ">

        <div class="col-md-1 text-center">
            <img src="../../../../assets/images/ipe.jpg" alt="" srcset="">
        </div>
        <div class="col-md-11 d-flex align-items-center">
            SAR 1520 was transfered to the international parcel on 25/1/2022
        </div>
    </div>
    <div class="row mb-4 ">

        <div class="col-md-1 text-center">
            <img src="../../../../assets/images/ipe.jpg" alt="" srcset="">
        </div>
        <div class="col-md-11 d-flex align-items-center">
            SAR 1520 was transfered to the international parcel on 25/1/2022
        </div>
    </div>
</div>