<section class="container-fluid">
    <!-- style="min-height: 670px" -->
    <div class="row x">
      <div class="col-md-6 col-sm-12 col-12 align-self-center">
        <div class="leftSide">
            <div class="row">
                <div class="col-md-12">
                    <a (click)="back()">
                        <i
                        [class]="
                          thisLang == 'rtl'
                            ? 
                           'fas fa-chevron-right' : 'fas fa-chevron-left'
                        "
                        style="
                          background: #f1f1f1;
                          padding: 9px;
                          border-radius: 50%;
                          margin-right: 10px;
                        "
                      ></i>
                      {{ "back" | translate }}
                    </a>
                  </div>
            </div>
  
          <div class="text-center" style="position: absolute; left: 45%">
          </div>

          <form (ngSubmit)="onSubmit()" class="p2 text-center">  
            <h4 class="mb-4">{{"verificationcode" | translate}} <br> </h4>
            <div class="mb-3"> <small> {{"enterverificationcode" | translate}}</small> <br> <small>{{phoneNumber}}</small> </div>
    
            <div class="text-center mb-5">
                <ng-otp-input (onInputChange)="OTP.code = $event" [config]="OTP" inputClass="forTest"></ng-otp-input>
              </div>
            <!-- routerLink="/admin" -->
            <button type="submit" class="btn btn-primary" style="padding:5px 30px;">{{"Send" | translate}} </button>
            <div class=" content justify-content-center align-items-center">
                <span> {{"validationestimer" | translate}} <span  style="color:#32b457"> {{timeLeftMinutes}} </span>   </span> <br>
                <span  class="text-decoration-none btn btn-link bg-light text-success" (click)="resendCode()"> &nbsp; {{"resendcode" | translate}}</span>
            </div>
        </form> 
        </div>
      </div>
  
      <div class="col-md-6 col-sm-12 right-col">
        <div class="rightSide">
          <div class="fullImage"></div>
        </div>
      </div>
    </div>
  </section>
  