@font-face {
  font-family: "try-vesterbro, sans-serif";

  src: local("assets/Try-Vesterro/TRYVesterbro-Light.otf"),
    local("assets/Try-Vesterro/TRYVesterbro-Bold.otf"),
    local("assets/Try-Vesterro/TRYVesterbro-Extrabold.otf"),
    local("assets/Try-Vesterro/TRYVesterbro-Medium.otf"),
    local("assets/Try-Vesterro/TRYVesterbro-Regular.otf"),
    local("assets/Try-Vesterro/TRYVesterbro-Poster.otf"),
}
main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main .wrapping {
  flex-grow: 1;
}
* {
  font-family: "try-vesterbro, sans-serif";
}
html {
  height: 100%;
}
body {
  min-height: 100%;
}
