<div class="container-fluid"> 
    <section class="personalinfo" >  
        <form [formGroup]="personalInfo" (ngSubmit)="onSubmit()">
       <div class="row my-3 d-flex justify-content-between"> 
            <div class="" *ngIf="!showButtons" > 
                <div class=" image" *ngIf="hideImg"> 
                 <img *ngIf="showImg" class="user-image-avatar hideEmptyImg" src="{{imgpath}}"  alt="wrong">
                      <img *ngIf="base64Image" class="user-image-avatar" src="{{base64Image}}" alt="noo" style="padding:10px 0px">
                      <svg style="cursor: pointer;" (click)="image.click();" xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 45 45"><defs><style>.a{fill:none;stroke:#333;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-width:2px;}</style></defs><g transform="translate(5.157 5.156)"><path class="a" d="M13.363,0C6.156,0,0,1.089,0,5.454s6.116,5.494,13.363,5.494c7.208,0,13.363-1.091,13.363-5.454S20.61,0,13.363,0Z" transform="translate(0 23.356)"/><path class="a" d="M8.565,17.13A8.565,8.565,0,1,0,0,8.565,8.535,8.535,0,0,0,8.565,17.13Z" transform="translate(4.798 0)"/><path class="a" d="M.5,0V7.519" transform="translate(30.351 11.099)"/><path class="a" d="M7.669.5H0" transform="translate(27.018 14.358)"/></g></svg>
                      <input type="file" hidden #image (change)="base64($event)" accept="image/*"> 
                    </div>
              </div>
              <div class=" " *ngIf="showButtons"  > 
                <div class=" image"> 
                 <img class="user-image-avatar hideEmptyImg "  src="{{imgpath}}"  alt="wrong">
                   
                    </div>
              </div>
                <div class=" profilebtn"  *ngIf="showButtons"> 
                    <!-- (click)="editPersonalInfo()" -->
                    <button class="btn btn-primary my-2 mx-2" (click)="setType(0)" >  
                        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                          </svg> -->
                    {{"editprofile" | translate}}
                    </button>
                    <!-- (click)="editPassword()" -->
                    <button class="btn btn-primary my-2 mx-2"  (click)="setType(1)"> {{"changepassword" | translate}} </button>
                </div>
                 
             <div class="profilebtn  py-1 px-5" *ngIf="!showButtons"> 
                 <button type="submit" class="btn btn-primary  my-4 px-4 float-right" (click)="onSubmit()"> {{"save" | translate}} </button>
             </div>
        </div>
        <div class="personalform" >
            <!-- <span class="text-danger"> *all passwords must be 6 characters at least</span> -->
          <!-- <form [formGroup]="personalInfo" (ngSubmit)="onSubmit()"> -->
            <div class="form-row my-3" *ngIf="firstRow">
                <div class="form-group input-group-lg col-md-6">
                <label for="inputName">{{"fullName" | translate}}</label>
                <input type="text" class="form-control" id="inputName" placeholder="{{ 'fullName' | translate }}" [attr.disabled]='edit?"true":null' formControlName="name">
                </div>

                <div class="form-group input-group-lg col-md-6">
                <label for="inputPhone">{{"phone" | translate}}</label>
                <input type="text" class="form-control" id="inputPhone" placeholder="{{ 'phone' | translate }}" [attr.disabled]='false' formControlName="phone">
                </div>
                <div class="form-group input-group-lg col-md-6">
                    <label for="inputEmail4">{{"email" | translate}}</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="{{ 'email' | translate }}" [attr.disabled]='edit?"true":null' formControlName="email">
                 </div>
            
            </div>
          
            <div class="form-row my-3"  *ngIf="secondtRow">
                <div class="form-group input-group-lg col-md-4">
                    
                    <label for="inputPassword4">{{"oldpassword" | translate}}</label>
                    <div class="d-flex align-items-center"> 
                        <input  [type]="showConfirm ? 'text' : 'password'" class="form-control" id="inputPassword4" placeholder="{{ 'oldpassword' | translate }}"  [attr.disabled]='editpassword?"true":null'  formControlName="old_password">
                        <span class="showPassword" (click)="this.showConfirm = !this.showConfirm" > 
                        <i class="fas fa-eye" *ngIf="!this.showConfirm"></i>
                        <i class="fas fa-eye-slash" *ngIf="this.showConfirm"></i> </span>
                   </div>
                   <!-- <span class="text-danger" *ngIf="showPasswordError">* this filed is required </span>  -->
                </div>
                <div class="form-group input-group-lg col-md-4">
                    <label for="inputPassword5">{{"password" | translate}}</label>
                    <div class="d-flex align-items-center"> 
                    <input  [type]="showConfirm2 ? 'text' : 'password'" class="form-control" id="inputPassword5" placeholder="{{ 'newpassword' | translate }}" [attr.disabled]='editpassword?"true":null' formControlName="password">
                    <span class="showPassword" (click)="this.showConfirm2 = !this.showConfirm2" > 
                        <i class="fas fa-eye" *ngIf="!this.showConfirm2"></i>
                        <i class="fas fa-eye-slash" *ngIf="this.showConfirm2"></i> </span>
                   </div>
                   <!-- <span class="text-danger" *ngIf="showNewPasswordError">* this filed is required </span>  -->
                </div>
                 <div class="form-group input-group-lg col-md-4">
                    <label for="inputPassword6">{{"confirmnewpassword" | translate}}</label>
                    <div class="d-flex align-items-center"> 
                    <input  [type]="showConfirm3 ? 'text' : 'password'"  class="form-control" id="inputPassword6" placeholder="{{ 'confirmnewpassword' | translate }}" [attr.disabled]='editpassword?"true":null' formControlName="confirm_password">
                    <span class="showPassword" (click)="this.showConfirm3 = !this.showConfirm3" > 
                        <i class="fas fa-eye" *ngIf="!this.showConfirm3"></i>
                        <i class="fas fa-eye-slash" *ngIf="this.showConfirm3"></i> </span>
                   </div>
                   <!-- <span class="text-danger" *ngIf="showConfirmPasswordError">* this filed is required </span>  -->
                </div>
            </div>
           <!-- </form> -->
        <!-- <div class="float-left profilebtn"> 
        <button type="submit" class="btn btn-primary my-2 mx-2"> Update</button>
        </div> -->
        </div>
      
    </form>
        
    </section>
     
</div>