<div class="container">
  <div class="topService text-center">
    <div class="topServiceContent">
      <div class="row">
        <div class="col-md-12 col-sm-12"></div>
      </div>
    </div>
  </div>
  <div class="row content">
    <div class="content-details col-md-12 col-sm-12">
      <div class="technicalSupport">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <h5>
     
              {{ "whoweare" | translate }}
            </h5>
            <p>{{ "aboutUsText" | translate }}</p>
          </div>


          <div class="col-md-12 col-sm-12">
            <h5>
     
              {{ "ourServices" | translate }}
            </h5>
            <p>{{ "ourservicetext" | translate }}</p>
          </div>


          <div class="col-md-12 col-sm-12">
            <h5>
     
              {{ "values" | translate }}
            </h5>
            <p>{{ "valuesdesc" | translate }}</p>
          </div>
        </div>
      </div>
 
    </div>
  </div>
</div>
