.main-home {
  background-image: url("../../../../assets/images/1.png");
  background-repeat: no-repeat;
  height: 90vh;
  margin-bottom: 30px;
}

img {
  width: 100%;
}

.x {
  background-image: url("../../../../assets/images/illustration.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  margin: 0;
  padding: 0;
  unicode-bidi: bidi-override;
}

.y {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.plane {
  background-image: url("../../../../assets/images/plane.png");
  background-position-x: left;
  background-position-y: bottom;
  background-repeat: no-repeat;
}
.plane-custom {
  background: url("../../../../assets/images/plane.png") left top no-repeat,
    url("../../../../assets/images/plane-flip.png") right bottom no-repeat;
}
.plane-flip {
  background-image: url("../../../../assets/images/plane-flip.png");
  background-position-x: right;
  background-position-y: bottom;
  background-repeat: no-repeat;
}
.text-wrapper {
  gap: 25px !important;
}
.text-wrapper span {
  font-size: 27px;
  font-family: "try-vesterbro-light-3", sans-serif;
}

.text-wrapper button {
  width: max-content;
}
.text-wrapper h1 {
  letter-spacing: 0px;
  font-size: 70px;
  font-family: "try-vesterbro-medium-4", sans-serif;
}
.headingTitle {
  display: flex;
}

.headingTitle img {
  width: 3em;
  margin-right: 1em;
}

.gallery .custom img {
  width: 50%;
  height: 100%;
}

.gallery .custom {
  text-align: center;
}

.column {
  width: 12em;
  margin-right: 2em;
  margin-bottom: 2em;
  background: #e3eef9;
  border-radius: 23px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s;
  padding: 1em;
}

.d-custom {
  display: flex;
  justify-content: center;
}

.gallery .custom .column:hover {
  background: #0f4f56;
}

.gallery .custom .column:active {
  background: #0f4f56;
}

.imageText {
  transition: all 0.3s;
  line-height: 3;
  font-size: 24px;
}

.customContainer {
  padding: 2em;
}

.greenBack {
  background: #0f4f56;
  padding: 2em;
  color: #ffff;
}

.greenBack span {
  line-height: 3;
}

.p-0 {
  padding: 0 !important;
}

.row-border {
  margin: 0;
  border-radius: 15px;
  overflow: hidden;
}

::ng-deep .owl-carousel .owl-item img {
  /* width: 5%; */
  margin: 0 auto;
}
.img-responsive {
  width: 5% !important;
}
.opacity {
  opacity: 0.4;
}

::ng-deep .owl-prev,
::ng-deep .owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

::ng-deep .owl-prev {
  left: 0;
}

::ng-deep .owl-next {
  right: 0;
}

.customPadding {
  padding: 0 4em;
}

.banner {
  background: url(../../../../assets/images/service2.png) no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-width: 100%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffff;
  text-align: center;
}

.banner span {
  font-size: 2.5em;
}

.contact-us {
  background-color: #F9F9F9;
  padding: 0.5em;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.natural {
  margin: 0 !important;
  padding: 1em !important;
  /* background-color: red; */
}

.backGroundImage {
  background: url(../../../../assets/images/Contact_us.png) no-repeat center center;

  border-radius: 10px;
}

.customize {
  margin: 0;
  padding: 0 1.5em 0 0;
}
.contact-message {
  padding: 0px 0px 10px 0px;
}

.x-rtl {
  background-image: url("../../../../assets/images/flip.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  margin: 0;
  padding: 0;
}
.ltr {
  direction: ltr;
}

/* ------------ ipad & land space ---------*/
@media screen and (max-width: 2350px) {
  /* --------header-------- */
  .customContainer {
    margin-top: 30px;
  }
  .x {
    min-height: 80vh;
  }
  .y {
    width: 100% !important;
    padding: 0;
  }
  .main-home {
    background-image: none;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .text-wrapper h1 {
    font-size: 40px;
  }
  .text-wrapper span {
    font-size: 20px;
  }

  .text-wrapper {
    gap: 8px;
  }
  .main-home {
    background-image: url("../../../../assets/images/1.png");
    background-repeat: no-repeat;
    height: auto;
  }

  .headingTitle img {
    display: none;
  }

  .custom {
    font-size: 10px;

    width: 100% !important;
  }
  .custom .d-custom {
    width: 100% !important;
    padding: 5px;
  }
  .custom .d-custom .column {
    width: 35%;
    padding: 5px;
  }

  .gallery--text {
    font-size: 14px;
    max-height: 400px !important;
    overflow: auto !important;
  }

  .testimonials .greenBack span {
    font-size: 14px;
  }

  .testimonials .greenBack {
    padding: 10px 15px;
    /* max-height: 500px; */
  }

  .testimonials .greenBack span {
    padding: 10px 15px;
    max-height: 500px;
    overflow: scroll;
  }

  ::ng-deep.owl-item {
    min-height: 317px !important ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .customize {
    padding: 0;
    width: 100% !important;
  }
}

@media screen and (max-width: 767px) {
  /* --------header-------- */
  .customContainer {
    margin-top: 100px;
    display: block;
  }
  .x {
    background-image: none;
  }
  .y {
    width: 100% !important;
    padding: 0;
  }
  .main-home {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .text-wrapper h1 {
    font-size: 50px;
  }
  .text-wrapper button {
    margin: auto;
  }
  .text-wrapper {
    text-align: center;
  }
  .main-home {
    background-image: url("../../../../assets/images/1.png");
    background-repeat: no-repeat;
    height: auto;
  }

  .headingTitle img {
    display: none;
  }

  .custom {
    display: flex;
    font-size: 10px;

    width: 100% !important;
  }
  .custom .d-custom {
    width: 100% !important;
    padding: 5px;
  }
  .custom .d-custom .column {
    width: 35%;
    padding: 5px;
  }

  .gallery-body {
    flex-direction: column-reverse;
  }

  .imageText {
    font-size: 14px;
  }

  .about--img {
    height: 200px;
  }

  .testimonials .greenBack span {
    font-size: 14px;
  }

  .testimonials .greenBack {
    padding: 10px 15px;
  }
  .plane-custom {
    background-size: 107px 43px;
  }
  ::ng-deep.owl-item {
    min-height: 317px !important ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .backGroundImage {
    display: none;
  }

  .customize {
    padding: 0;
    width: 100% !important;
  }
}

*::-webkit-scrollbar {
  display: none;
}

.raduis {
  border-radius: 15px;
}

::ng-deep .mat-form-field-outline {
  background-color: #f1f1f1 !important;
  color: #c8c8c8 !important;
  border: none !important;
  box-shadow: none !important;

}

.contact-par{
  color :#D0D0D0
}

::ng-deep .mat-form-field-underline{
  display: none ;
}
::ng-deep .mat-form-field-flex{
  border-radius: 5px;
}

mat-label{
  color: #C3C3C3;
}

.forErrors{
  font-weight: lighter;
  color: red;
  font-size: 14px;
}