   
p{
  font-size: 24px;
  font-weight: 200;
}
.container {
   height: 100%; 
  width: 100%;
}  
.container .topService {
  background-image: url('../../../../assets/images/service2.png') ;
  background-size: cover;
  background-position:20% 80%  ;
  width: 100%;
  height: 300px;
  resize: both;
  position: absolute;
  top:72px; 
  left: 0;
  height: 300px;
  min-width: 100%;
    
}
.container .topService .topServiceContent {
    width:90%;  
    margin:50px auto 40px auto;
}

.container .topService h2{ 
  font-weight: 700; 
   color :white;
   margin:0px 0px 30px 0px;
}

.container .topService p{ 
  color : white;
}
.container .middleService {
  margin-top: 450px;
}
.container .middleServiceP1 {
  
  min-height: 400px ;
  margin-top: 20px;
}

 
.container .middleServiceP1 .middleLeft h4 { 
  margin: 0px 0px 20px 0px ;
} 
.container .middleServiceP1 .middleLeft p {
  line-height: 32px;
}

.container .middleServiceP1 .middleLeft .serviceBtn {
 background-color: #32B457 ;
 color : white;
 padding: 10px;
}
.container .middleServiceP1 .middleRight {

}


@media (max-width: 767px) {  
   
 .right , .left{
    width:50%;
  
  }
  
  .container .middleService { 
    margin-top: 150px;
  }

  .middleServiceP1 , .middleServiceP2 , .middleServiceP3 {
   max-height: 100px;
   overflow: hidden;
  }
}   

@media (max-width: 767.98px) { 
  .container .middleService {
    margin-top: 400px;
  }
}

p{
  height: 500px;
  overflow-y: auto;
  padding: 5px;
  font-size: 18px;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

.h-fit-content{
height: fit-content !important;
}
