.navbar {
    background-color: #0F4F56;
    height: auto;
    
}
  .navbar-nav .nav-item{
    display: inline-block;
    vertical-align: middle;
    float: none;
    }
/* .wrappingParent {
    display: flex;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 4em;
    align-items: center;
    color: #fff;  
} */
.navbar-toggler-icon{
    color:black
}
.navbar-nav .nav-item a {
    color: #fff;
}

.x {
    color: #fff;
    margin-right: 1em;
}

.white {
    color: #fff
}

.active-nav {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-bottom: 2px solid #218838;
}

nav {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/* .navbar .navbar-nav {
    display: inline-block;
    float: none;
} */

 
