<!-- <nav class="navbar navbar-expand-lg " style="background-color: #0F4F56; color: #fff;">
    <div class="wrappingParent">
        <div>
            <a class="navbar-brand" href="#"><img src="assets/images/logo.png" alt="" srcset=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        </div>

        <div>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLinkActive="active-nav" [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active-nav" [routerLink]="['/orders']">Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active-nav" [routerLink]="['/our-services']">Our services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active-nav" [routerLink]="['/about-us']">About us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active-nav" [routerLink]="['/contact-us']">Contact us</a>
                </li>

            </ul>

        </div>

        <div>
            <button class="btn btn-default white" [routerLink]="['/sign-up']">Sign up</button>
            <button class="btn btn-success x" [routerLink]="['/login']">Log in</button>
            <ngx-flag-picker [showFlags]="true" [showLabels]=false [selectedCountryCode]="selectedCountryCode" [countryCodes]="countryCodes" (changedCountryCode)="changeSelectedCountryCode($event)">
            </ngx-flag-picker>
        </div>
    </div>
</nav> -->
<!-- navbar-dark bg-dark -->
<nav id="mainNavbar" class="navbar navbar-expand-lg   fixed-top">
 
    <a class="navbar-brand" href="#"><img src="assets/images/logo.png" height="auto" width="75%" class="img-fluid" alt="" srcset=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
       data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
       aria-expanded="false" aria-label="Toggle navigation"
       (click)="toggleCollapsed()" style="color:white">
      <!-- <span class="navbar-toggler-icon"></span> -->
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-toggle-off" viewBox="0 0 16 16">
        <path d="M11 4a4 4 0 0 1 0 8H8a4.992 4.992 0 0 0 2-4 4.992 4.992 0 0 0-2-4h3zm-6 8a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM0 8a5 5 0 0 0 5 5h6a5 5 0 0 0 0-10H5a5 5 0 0 0-5 5z"/>
      </svg>
    </button>
  
    <div id="navbarSupportedContent" class="text-center" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
        <ul class="navbar-nav mx-auto mt-2 mt-lg-0 " >
           
            <li class="nav-item active">
                <a  #home (click)="select(home.id)" class="nav-link" routerLinkActive="active-nav" [routerLink]="['/home']">{{"home" | translate}} <span class="sr-only">(current)</span></a>
            </li>
            <li *ngIf="logedIn" class="nav-item">
                <a  #dashboard (click)="select(dashboard.id)" class="nav-link" routerLinkActive="active-nav" [routerLink]="['admin/profile']">{{"dashboard" | translate}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active-nav" [routerLink]="['/orders']">{{"orders" | translate}}</a>
            </li>
            <li class="nav-item">
                <a  #service (click)="select(service.id)" class="nav-link" routerLinkActive="active-nav" [routerLink]="['/our-services']">{{"ourServices" | translate}}</a>
            </li>
            <li class="nav-item">
                <a  #about (click)="select(about.id)" class="nav-link" routerLinkActive="active-nav" [routerLink]="['/about-us']">{{"AboutUs" | translate}}</a>
            </li>
            <li class="nav-item">
                <a #contact (click)="select(contact.id)" class="nav-link" routerLinkActive="active-nav" [routerLink]="['/contact-us']">{{"contactUs" | translate}}</a>
            </li>
            <!-- <li class="nav-item">

                <button class="btn-success" (click)="changeLang('ar')">ar</button>
            </li>
            <li class="nav-item">
                <button class="btn-success" (click)="changeLang('en')">en</button>
            </li> -->
       
        </ul>
        <!-- form-inline  -->
        <form class="my-2 my-lg-0">
            <button *ngIf="!logedIn" #register (click)="select(register.id)" class="btn btn-default white" [routerLink]="['/sign-up',val]">{{"signup" | translate}}</button>  
            <!-- <button #login (click)="select(login.id)" class="btn btn-success x" [routerLink]="['/login']">Log in</button>   -->
             <button *ngIf="!logedIn" #login (click)="select(login.id)" class="btn btn-success x ml-2" [routerLink]="['/login',val]">{{"login" | translate}}</button> 
             <button *ngIf="logedIn"(click)="logout()" class="btn btn-success x ml-2" [routerLink]="['/login',val]">{{"loguot" | translate}}</button> 
            <ngx-flag-picker (click)="changeLang()" [showFlags]="true" [showLabels]=false [selectedCountryCode]="selectedCountryCode" [countryCodes]="countryCodes" (changedCountryCode)="changeSelectedCountryCode($event)">
            </ngx-flag-picker>
        
        </form>
    </div>
    
</nav>