<section class="container-fluid" style="min-height: 670px">
  <!-- style="min-height: 670px" -->

  <div class="row x">
    <div class="col-md-6 col-sm-12 col-12 align-self-center  min-h-100 min-h-100">
      <div class="leftSide d-flex flex-column justify-content-around min-h-100">
        <div class="col-md-12">
          <a (click)="back()">
            <i
              [class]="
                thisLang == 'ar'
                  ? 'fas fa-chevron-right'
                  : 'fas fa-chevron-left'
              "
              style="
                background: #f1f1f1;
                padding: 9px;
                border-radius: 50%;
                margin-right: 10px;
              "
            ></i>
            {{ "backHome" | translate }}
          </a>
        </div>

        <div class="mb-3 row">
          <!-- <div class="text-center" >
            <hr style="width: 50%; margin-top: 0px; height: 2px" />
          </div> -->


          <div class="text-center m-auto">
            <h3 class="text-center">{{ "createaccount" | translate }}</h3>
            <hr style="width: 18%; margin-top: 0px; height: 2px" />
          </div>

          <div class="col-md-12">
            <form
              style="direction: ltr"
              [formGroup]="landing"
              (ngSubmit)="submit()"
            >
              <div class="form-group offset-md-2 col-md-8 col-sm-12 col-12">
                <label for="" class="w-100">
                  <h6 class="text-black text-left"  [class]="
                  thisLang == 'ar'
                    ? 'text-right'
                    : 'text-left'
                ">
                    {{ "phone" | translate }}
                  </h6>
                  <div class="d-flex position-relative">
                    <input
                      type="text"
                      name=""
                      id=""
                      class="form-control"
                      placeholder="5********"
                      [formControlName]="'phone'"
                      style="padding-left: 21%"
                      [class]="
                        thisLang == 'ar'
                        ? 'text-right'
                        : 'text-left'
                      "
                      #number
                    />

                    <div class="text-success position-absolute cm-position">
                      <h6 class="text-muted position-absolute number-position w-100 text-center">
                        +966
                      </h6>
                    </div>
                  </div>
                </label>
                <span
                  class="d-block text-danger"
                  *ngIf="this.landing.controls.phone.errors?.['minlength'] || !this.landing.controls.phone.value?.startsWith(5)&&(this.landing.controls.phone.dirty || this.landing.controls.phone.touched)"
                >
                  {{ "phoneValid" | translate }}
                </span>

                <button
                  type="submit"
                  class="btn btn-default col-md-12 col-sm-12 d-block text-white"
                  [disabled]="
                    !number.value.startsWith('5') || number.value.length <= 8
                  "
                >
                  {{ "verify" | translate }}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 right-col">
      <div class="rightSide">
        <div class="fullImage"></div>
      </div>
    </div>
  </div>
</section>
