.container-fluid {
    background-color: #fbfbfb;
 
}
 .x{
    min-height: 670px;
    margin-top: -50px;
 }
.container-fluid .leftSide {
    margin-top: 0px;
}

.container-fluid .leftSide a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.container-fluid .leftSide h3 {
    margin-top:10px;
    text-decoration: underline;
    text-decoration-color:#32B457;
    text-decoration-skip-ink:none;
    position: relative;
    top: 50%;
    bottom: 35%;
}

.container-fluid .leftSide form {
    margin-top: 80px;
    position: relative;
    top: 10%;
     
}

.container-fluid .leftSide form input {
    background-color: #f9f9f9;
}

.container-fluid .leftSide form label {
    color: grey;
}

.container-fluid .leftSide form p a {
    color: #32B457;
}

.container-fluid .leftSide form label::placeholder {
    color: grey;
}

.container-fluid .leftSide button {
    background-color: #32B457;
     padding: 10px 0px;  
  
    border: 1px solid #32B457;
    color:white ;
}

.container-fluid .leftSide label span {
    color: #32B457;
    float: right;
}

.container-fluid .leftSide .form-check-label {
    width: 63%;
}

.check {
    padding-left: 2.25rem
}

.container-fluid .rightSide {
    height: 100%;
    margin-right: -15px;
}

.container-fluid .rightSide .fullImage {
    background-image: url('../../../../assets/images/login.jpg');  
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;coration: none;
    resize: both;
    position: relative;
    right: 0px;
    bottom: 0px;
}

@media (max-width: 767px) {
    .container-fluid .leftSide {
        margin-top: 10px;
    }
    .container-fluid .leftSide form {
        left: 0px;
    }
    .container-fluid .leftSide h3 {
        margin-top: 10px;
    }
    .right-col{
        display: none;
    }

   ::ng-deep .form-group{
        width: 100% !important;
    }

    .form-check-label{
        min-width: 100% !important;
    }
    
          .container-fluid{
              margin-top: 100px;
          }
}

 

  .rtl{
      direction: rtl;
  }

  
@media (max-width: 567px) { 
    .x{
        min-height: 500px
     }
}
.back-section{
    display: flex;
    align-items: center;
    gap: 7px;
}
.back-bg{
    background: #f1f1f1;
    border-radius: 50%;
    padding: 6px;
}


input{
    font-size: 18px;
}


.cm-position{
    left: 0px;
    top:0px;
    height: 100%;
    width: 10%;
    border-right: 1px solid gray;
}
.number-position{
    left: 10px;
    top: 12px;
}