<main>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-6" style="direction:initial">
                    <div class="row" style="text-align: center;">
                        <div class="col-sm-4 forWho">
                            <h4>Help</h4>
                            <p> Terms of use</p>
                            <p> Privacy Policy</p>
                            <p> Contact with Us</p>

                        </div>
                        <div class="col-sm-4 buyArt">
                            <h4> Services</h4>
                            <p> Shipping</p>
                            <p>Import </p>
                            <p> Ware Houses</p>

                        </div>
                        <div class="col-sm-4 aboutCom">
                            <h4>More About us </h4>
                            <p> Who we Are</p>
                            <p> Work Time</p>

                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="aboutArtna text-center">
                        <img src="../../../../assets/images/logo.png" alt="" srcset="" class="mb-2">
                        <div>
                            <a href="#"><i class="fa fa-linkedin"></i></a>

                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-youtube"></i></a>
                            <a href="#"><i class="fa fa-snapchat"></i></a>


                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>