<main>
    <section>
        <div class="container">
            <div class="row ">
                <div class="col-sm-6" style="direction:initial">
                    <div class="row" style="text-align: center;">
                        <div class="col-sm-4 forWho">
                            <h4>{{"help" | translate}}</h4>
                            <p> {{"termsofuse" | translate}}</p>
                            <p> {{"privacypolicy" | translate}}</p>
                            <p> {{"contactwithus" | translate}}</p>

                        </div>
                        <div class="col-sm-4 buyArt">
                            <h4> {{"services" | translate}}</h4>
                            <p> {{"shipping" | translate}}</p>
                            <p>{{"import" | translate}} </p>
                            <p> {{"warehouses" | translate}}</p>

                        </div>
                        <div class="col-sm-4 aboutCom">
                            <h4>{{"moreaboutus" | translate}} </h4>
                            <p> {{"whoweare" | translate}}</p>
                            <p> {{"worktime" | translate}}</p>

                        </div>
                    </div>
                </div>
                <div class="foot col-sm-6">
                    <!-- text-center -->
                    <div class=" px-4 m-auto">
                        <img src="../../../../assets/images/logo.png" alt="" srcset="" class="mb-2">
                    </div>
                        <div>
                            <a href="#"><i class="fa fa-linkedin"></i></a>

                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-youtube"></i></a>
                            <a href="#"><i class="fa fa-snapchat"></i></a>


                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </div>
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </section>
</main>